{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for card in cards %}
        <div class="col">
            <div class="card h-100 rowelement">
                <img class="card-img" src={{card[0].image}} alt="oops, something went wrong" style="-webkit-filter: blur(8px);
                                                                                                 filter: brightness(40%);
                                                                                                 min-height:400px">
                <div class="card-img-overlay">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">
                                {{ card[0].name }}
                            </h2>
                            <h3 class="card-text">
                                {{ card[0].description }}
                            </h3>
                        </div>
                        <h1 class="col">
                            {{ card[0].weather.temperature }} ℃
                        </h1>
                    </div>
                    <div class="row">
                        <ul class="card_forecast">
                            {% for elem in card[0].forecast %}
                                <li>
                                    {{elem["time"]}}<br>
                                    <img src={{elem["icon"]}} alt="oops, something went wrong" width="25px" height="25px"> <br>
                                    {{elem["temp"]}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row">
                        <form id="download{{ card[1] }}" method="POST" action="/weather/cards/download?id={{ card[1] }}">
                            <span class="material-symbols-outlined" onclick="download{{ card[1] }}.submit()">
                            download
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}